.divider_d5deea.isUnread_c2654d .unreadPill_c2654d,
.expandedFolderIconWrapper_bc7085 path,
path[fill='var(--status-danger)'],
.strikethrough_b2ca13,
.strikethrough_fde376 {
	filter: drop-shadow(0px 0px 4px var(--accent-2));
}

.expandedFolderIconWrapper_bc7085 svg,
.bar_c7a159 {
	overflow: visible;
}

.barFill_c7a159 {
	border-radius: 4px;
}

.divider_d5deea.isUnread_c2654d,
.newMessagesBar_cf58b5,
.numberBadge__40d6f,
.mention_edf32f,
.barFill_c7a159 {
	box-shadow: 0px 0px 5px 0.3px var(--accent-2);
}

.divider_d5deea.isUnread_c2654d .content_c2654d {
	text-shadow: 0px 0px 5px 0.3px var(--accent-2);
}
